.btn, .btn a {
    display: inline-block;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: var(--light-blue);

    font-size: 16px;
    color: var(--white);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    transition: background-color 0.2s ease-in, color 0.2s ease-in,  opacity 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}


.btn--catalog {
    border-radius: 40px;
    padding: 10px 16px;
    height: 48px;
}

.btn--hero {
    border-radius: 8px;
    padding: 14.5px 19.5px;

    box-shadow: 0 4px 16px 0 rgba(29, 133, 248, 0.5);
}
