.new-cars {
    padding: 40px 0;


    @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mobile {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


  